html
  head
    title my site
    link(href='style.css', rel='stylesheet')
  body
      
    #output.half
      #character-container
        h2 Character
        #character
      #weapon-container
        h2 Weapons
        #weapon
      #magic-container
        h2 Magic
        #magic
        
    #input.half
      button#show-new-weapon new weapon
      button#show-new-magic new magic
      #weapon-creator.hidden
        .set
          label Title
          input.title
        .set
          label Damage
          input.damage
        .set
          label Defense
          input.defense
        .set
          label Agility
          input.agility
        button#create-weapon create
      #magic-creator.hidden
        .set
          label Title
          input.title
        .set
          label Self Damage
          input.selfdamage
        button#create-magic create
    script(src="script.js")
