html
  head
    title my site
    link(href='style.css', rel='stylesheet')
  body

    #input.divider.hidden
      
    #character.divider.hidden
      #output
      button#save save
    #output
      
    script(src="script.js")
