* {
  box-sizing: border-box;
}
body {
  background: #3498db;
  color: #2a2a2a;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.hidden {
  display: none;
}

.half {
  width: 50%;
  float: left;
  padding: 25px;

}

.delete {
  margin: 0 5px;
  cursor: pointer;
}

.set {
  margin: 10px 0;

  label {
    width: 14%;
    margin: 0 5px;
    display: inline-block;
    text-align: right;
    text-transform: capitalize;

    #output & {
      background: url('./img/draggable.png') no-repeat center left;
      background-size: 10px;
      cursor: move;
    }
  }
}
